@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.desativa{cursor:default !important;}
.checkno{cursor:not-allowed !important;}

#txtnome{
  /*border:none;*/
}
.link{
  color:#566787;
}
.link:hover{
  color:#337ab7;
}
textarea:focus, input:focus, select:focus {
    /*box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;*/
} 
.seta::after{
  content: "\f0dd";
  color: ;
  line-height: 1.5;
  text-align: center;
  font-size: 15px;
}
.boxe {
  margin: auto;
  /*padding: 50px;*/
 /*background: #484848;*/
  margin-bottom: 20px;
}
/*.collapse{
	margin: auto;
	padding: 7px;
	background: #FCFCFC;
	border:1px solid #F2F2F2;
  z-index:4;
  position:absolute; 
}*/
.fundo{
  margin: auto;
  padding: 7px;
  background: #FCFCFC;
  border:1px solid #F2F2F2;
  /*z-index:4;
  position:absolute;*/ 
}
.corfundo{
	/*margin-left: 20px !important;*/
}

/*Checkboxes styles*/
i#checkboxes{
  background-color:#fff;
  min-height:200px;
  padding:10px;
  margin-top:20px;
}

h1{
  text-align:center;
  color:#fff;
  font-size:40px;
}

.checkbox{
  margin:20px;
}

.checkbox label {
  min-height: 21px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  line-height:22px;
}

.c-checkbox span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  text-align: center;
}

.c-checkbox span:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}

.c-checkbox input[type=checkbox]{
  position:absolute;
  margin: 4px 0 0;
  opacity:0;
}

.c-checkbox input[type=checkbox]:checked {
color: #fff;
transition: color 0.3s ease-out;
}

.c-checkbox input[type=checkbox]:checked + span{
border-color: #5d9cec;
background-color: #5d9cec;
}

.c-checkbox input[type=checkbox]:checked + span:before{
  color: #fff;
opacity: 1;
transition: color 0.3s ease-out;
}